In [1]:
import  pandas as pd

In [2]:
df = pd.read_csv('IMDB Dataset.csv')

In [3]:
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [4]:
df = df.sample(5000)

In [5]:
df.shape

(5000, 2)

In [6]:
df['sentiment'].replace({'positive':1,'negative':0},inplace=True)

In [7]:
df.head()

                                                  review  sentiment
42632  Curiosity led me to this "masterpiece". Unfort...          0
27169  I was only fourteen when I first saw the Alien...          0
27205  This movie is a fine example of what happens w...          0
18256  okay, my question; who's the idiot that wrote ...          0
28457  Could this be by the same director as Don't Lo...          0

In [8]:
pip install regex

Requirement already satisfied: regex in c:\users\unmik\anaconda3\lib\site-packages (2021.11.10)
Note: you may need to restart the kernel to use updated packages.

In [9]:
import re

In [10]:
clean = re.compile('<.*?>')

In [11]:
def remove_tags(text):
    clean = re.compile('<.*?>')
    return re.sub(clean,'',text)

In [12]:
df['review']=df['review'].apply(remove_tags)

In [13]:
def lower(text):
    return text.lower()

In [14]:
df['review']=df['review'].apply(lower)

In [15]:
df.head()

                                                  review  sentiment
42632  curiosity led me to this "masterpiece". unfort...          0
27169  i was only fourteen when i first saw the alien...          0
27205  this movie is a fine example of what happens w...          0
18256  okay, my question; who's the idiot that wrote ...          0
28457  could this be by the same director as don't lo...          0

In [16]:
def remove_special(text):
    result = ''
    for char in text:
        if char.isalnum() or char.isspace():
            result += char
        else:
            result += ' '  
    return result

In [17]:
df['review']=df['review'].apply(remove_special)

In [18]:
df.head()

                                                  review  sentiment
42632  curiosity led me to this  masterpiece   unfort...          0
27169  i was only fourteen when i first saw the alien...          0
27205  this movie is a fine example of what happens w...          0
18256  okay  my question  who s the idiot that wrote ...          0
28457  could this be by the same director as don t lo...          0

In [19]:
import nltk

In [20]:
from nltk.corpus import stopwords

In [21]:
 def remove_stopwords(text):
        x=[]
        for i in text.split():
            if i not in stopwords.words('english'):
                x.append(i)
        y=x[:]
        x.clear()
        return y

In [22]:
df['review']=df['review'].apply(remove_stopwords)

In [23]:
df

                                                  review  sentiment
42632  [curiosity, led, masterpiece, unfortunately, r...          0
27169  [fourteen, first, saw, alien, movies, immediat...          0
27205  [movie, fine, example, happens, studio, wants,...          0
18256  [okay, question, idiot, wrote, movie, giving, ...          0
28457  [could, director, look, bad, timing, poorlyact...          0
...                                                  ...        ...
28397  [sopranos, stands, airtight, dynamic, explorat...          1
15163  [movie, utter, waste, time, plot, awful, dialo...          0
20157  [movie, gives, golf, high, mark, well, acted, ...          1
11333  [four, things, intrigued, film, firstly, stars...          0
68     [sure, producers, needed, trade, name, somewha...          0

[5000 rows x 2 columns]

In [24]:
from nltk.stem.porter import PorterStemmer

In [25]:
ps = PorterStemmer()

In [26]:
y=[]
def word_stemming(text):
    for char in text: 
        y.append(ps.stem(char))
    z=y[:]
    y.clear()
    return z

In [27]:
df['review']=df['review'].apply(word_stemming)

In [28]:
df.head()

                                                  review  sentiment
42632  [curios, led, masterpiec, unfortun, rent, boug...          0
27169  [fourteen, first, saw, alien, movi, immedi, ca...          0
27205  [movi, fine, exampl, happen, studio, want, get...          0
18256  [okay, question, idiot, wrote, movi, give, nam...          0
28457  [could, director, look, bad, time, poorlyact, ...          0

In [29]:
def join_back(list_input):
    return " ".join(list_input)

In [30]:
df['review']=df['review'].apply(join_back)

In [31]:
df.head()

                                                  review  sentiment
42632  curios led masterpiec unfortun rent bought dis...          0
27169  fourteen first saw alien movi immedi came like...          0
27205  movi fine exampl happen studio want get sequel...          0
18256  okay question idiot wrote movi give name dean ...          0
28457  could director look bad time poorlyact clunkil...          0

In [32]:
df.shape

(5000, 2)

In [33]:
from sklearn.feature_extraction.text import CountVectorizer

In [34]:
cv = CountVectorizer(max_features = 2000)

In [35]:
X = cv.fit_transform(df['review']).toarray()

In [36]:
X.shape

(5000, 2000)

In [37]:
X[0]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [38]:
y=df.iloc[:,-1].values

In [39]:
y[0]

0

In [40]:
y.shape

(5000,)

In [41]:
from sklearn.model_selection import train_test_split

In [42]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state =23)

In [43]:
 from sklearn.naive_bayes import GaussianNB,MultinomialNB,BernoulliNB

In [44]:
r1 = GaussianNB()
r2= MultinomialNB()
r3=BernoulliNB()

In [45]:
r1.fit(X_train,y_train)
r2.fit(X_train,y_train)
r3.fit(X_train,y_train)

BernoulliNB()

In [46]:
y1= r1.predict(X_test)
y2=r2.predict(X_test)
y3=r3.predict(X_test)

In [47]:
from sklearn.metrics import accuracy_score

In [48]:
accuracy_score(y_test,y1)

0.71

In [49]:
accuracy_score(y_test,y2)

0.816

In [50]:
accuracy_score(y_test,y3)

0.827